.group
    .group-item
        .group-title
            font-size: 1.5rem
            border-bottom: 1px solid #eaecef
            margin-bottom: 20px
            margin-top: 30px

        a
            color: #000
            margin-left: 15px
            font-weight: 500

        a:active,a:focus,a:hover 
            color: #757575 !important

        .page-item
            margin: 10px
            span
                color: #718096