
@require './config';
@require './group';
@require './wrapper';

html, body
  background-color: #fff;
  margin: 0;
  padding: 0;

body
  color: $textColor;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

.page-title
  font-size: 1.8rem;
  font-weight: bold
